%section#about
  .container
    .row.prallax
      .col-md-4
        = image_tag "layouts/badge.png"
      .col-md-8
        %h3 Der Korps Limmat stellt sich vor
        %p
          Gestatten? Wir sind der Pfadikorps Limmat aus Z체rich. Der Korps ist ein Zusammenschluss verschiedenster Pfadiabteilungen
          rund um die Limmat.
        %br/
        %p
          Auch wenn wir nicht direkt selbst jeden Samstag tolle Aktivit채ten in Stadt, Wald und Wiese veranstalten, tragen wir
          doch einen guten Teil dazu bei, dass Kinder und Jugendliche jede Woche Pfadi erleben d체rfen. Unsere Ziele sind,
          Synergien zu Nutzen, die Abteilungen mit der schweizweiten Pfadibewegung zu koordinieren und Ausbildungskurse zu
          veranstalten.
        %br/
        %p
          Wir freuen uns, f체r dich, deine Leiter und deine Abteilung da zu sein!
