%section#team
  .container
    .row
      .col-md-12
        %h3 Team
    .row
      .col-md-3
        .member-picture{ style: "background-image: url(#{image_path "team/filou.JPG"});" }
      .col-md-3
        .member-description
          %h4 Filou
          .name  Diego Steiner v/o Filou
          .function Korpsleiter
          .description
      .col-md-3
        .member-picture{ style: "background-image: url(#{image_path "team/saida.JPG"}); " }
      .col-md-3
        .member-description
          %h4 Saïda
          .name  Sarah Münst v/o Saïda
          .function Korpsleiterin
          .description
    .row
      .col-md-3
        .member-picture{ style: "background-image: url(http://on-board.co.uk/wp-content/uploads/2013/09/OB-missing-male.jpg);" }
      .col-md-3
        .member-description
          %h4 Spatz
          .name Patrick Müller v/o Spatz
          .function Ressort Administration
          .description
      .col-md-3
        .member-picture{ style: "background-image: url(#{image_path "team/frosch.JPG"});" }
      .col-md-3
        .member-description
          %h4 Frosch
          .name Daniel Jecklin v/o Frosch
          .function Piostufen Verantwortlicher
          .description
    .row
      .col-md-12
        %h3 Abteilungen
      .col-md-3
        %h4
          Säuliamt
          %small Affoltern am Albis
        %a.abteilungs-picture{ href: "http://pfadi-sa.ch", style: "background-image: url(http://www.mettmenstetten.ch/de/images/519dc0a093adb.jpg);" }
      .col-md-3
        %h4
          Sempach
          %small Zürich-Altstetten
        %a.abteilungs-picture{ href: "http://pfadisempach.ch", style: "background-image: url(http://pfadisempach.ch/Bilder/logo.gif);" }
      .col-md-3
        %h4
          Laupen
          %small Engstringen
        %a.abteilungs-picture{ href: "http://pfadilaupen.ch", style: "background-image: url(http://www.oberengstringen.ch/de/images/40a864d4697b9.jpg);" }
      .col-md-3
        %h4
          St. Mauritius Nansen
          %small Zürich-Höngg
        %a.abteilungs-picture{ href:  "http://pfadismn.ch", style: "background-image: url(http://pfadismn.ch/pfadismn.svg);" }
      .col-md-3
        %h4
          St. Ulrich
          %small Dietikon
        %a.abteilungs-picture{ href:  "http://pfadi-stulrich.ch", style: "background-image: url(http://www.pfadi-stulrich.ch/wordpress/wp-content/uploads/2011/02/PSU.jpg);" }
      .col-md-3
        %h4
          Uro
          %small Urdorf
        %a.abteilungs-picture{ href:  "http://pfadiuro.ch", style: "background-image: url(http://u.jimdo.com/www61/o/s64b4607fa1807dd4/img/id3082adcbba1d1c5/1363531101/std/image.gif);" }
      .col-md-3
        %h4
          Morgarten-Erlach
          %small Zürich-Wipkingen
        .abteilungs-picture
          %a{ href: "http://pfadimoe.ch" }
      .col-md-3
        %h4
          Murten
          %small Zürich-Altstetten
        %a.abteilungs-picture{ href:  "http://pfadi-murten.ch", style: "background-image: url(http://pfadismn.ch/pfadismn.svg);" }