<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="{{ page.description }}">
    <meta http-equiv="refresh" content="0; url={{ page.redirect_to }}" />

    <title>{{ site.title }}</title>

</head>

<body id="top">
    Redirecting to []({{ page.redirect_to }})
</body>
</html>
